@font-face {
  font-family: 'Mustica Pro';
  src: url('./fonts/MusticaPro-SemiBold.otf');
}

@font-face {
  font-family: 'One Splice';
  src: url('./fonts/One\ Slice.otf');
}

.main-drop-shadow {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
}

.secondary-drop-shadow {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
}

.nav-drop-shadow {
  -webkit-box-shadow: 11px 1px 13px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 1px 13px -2px rgba(0,0,0,0.75);
  box-shadow: 11px 1px 13px -2px rgba(0,0,0,0.75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'One Splice';
  letter-spacing: 0.1em;
  font-weight: 500;
}

p {
  font-family: 'Mustica Pro';
  font-weight: 300;
}