@font-face {
  font-family: 'Mustica Pro';
  src: url('./fonts/MusticaPro-SemiBold.otf');
}

@font-face {
  font-family: 'One Splice';
  src: url('./fonts/One\ Slice.otf');
}


.main-drop-shadow {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
}

.secondary-drop-shadow {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
}

.nav-drop-shadow {
  -webkit-box-shadow: 14px 5px 25px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 5px 25px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 5px 25px -9px rgba(0, 0, 0, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'One Splice';
  letter-spacing: 0.1em;
  font-weight: 500;
}

p {
  font-family: 'Mustica Pro';
  font-weight: 400;
}

button {
  &:focus,
  &:active {
    box-shadow: none !important;
  }
}


/* 
.link,
.icon-button {
  transition: transform 0.3s;
}

.link:hover {
  transform: scale(1.1);
} */

.icon-button:hover {
  background-color: transparent !important;
}

.with-animation-enlarge {
  transition: transform 0.3s;
}

.with-animation-enlarge:hover {
  transform: scale(1.1);
}

/* Override styles */
.dsEMXs {
  background-color: #131737 !important;
  border: 2px solid #3898b8;
}